* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffe4f2;
  --second-color: #e54ed0;
  --third-color: #9f45b0;
  --fourth-color: #44008b;
  --fifth-color: #00076f;
  --font-size: 25px;
}

/* header */
.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/* body */
body {
  background-color: var(--primary-color);
}

body {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-variant: small-caps;
  line-height: 1.6;
  font-size: var(--font-size);
}

a {
  color: var(--fourth-color);
}

a:visited {
  color: var(--second-color);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--third-color);
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(--third-color);
  color: white;
  text-decoration: none;

  /* adds spacing to the button */
  padding: 10px;
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover,
button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  transition: 0.2s opacity;
}

.button__secondary {
  background-color: var(--fourth-color);
  color: white;
  transition: 0.2s opacity;
}

.button,
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--third-color);
  color: white;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* let's the mouse appear as a hand while hovering over the button */
  cursor: pointer;
  opacity: 0.8;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 10px;
}

.grid_item {
  display: inline-block;
  width: 33%;
}

.grid__item {
  background-color: var(--fourth-color);
  color: white;
}

.about {
  max-width: 700px;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
}

.about-list {
  list-style-type: none;
}

/* animation */
@keyframes cloud-move {
  from {
    transform: translate(250px, -10px);
  }

  to {
    transform: translate(0, -10px);
  }
}

.cloud-right {
  animation: 35s cloud-move infinite alternate linear;
}

@keyframes cloud-move-two {
  from {
    transform: translate(300px, 10px);
  }

  to {
    transform: translate(0, 10px);
  }
}

.cloud-middle-right {
  animation: 25s cloud-move-two infinite alternate linear;
}

@keyframes cloud-move-three {
  from {
    transform: translate(100px, -15px);
  }

  to {
    transform: translate(-400px, -15px);
  }
}

.cloud-middle-left {
  animation: 30s cloud-move-three infinite alternate linear;
}

@keyframes cloud-move-four {
  from {
    transform: translate(100, 0);
  }

  to {
    transform: translate(-250px, 0);
  }
}

.cloud-left {
  animation: 20s cloud-move-four infinite alternate linear;
}

@keyframes color-change {
  from {
    fill: #f2d325;
  }

  to {
    fill: #db8408;
  }
}

.sun {
  animation: 6s color-change infinite alternate linear;
}

@keyframes water-jump {
  from {
    transform: translate(5px, 20px);
  }

  to {
    transform: translate(5px, -10px);
  }
}

.water-drop {
  animation: 0.5s water-jump infinite alternate linear;
}

@keyframes water-jump-small {
  from {
    transform: translate(6px, 12px);
  }

  to {
    transform: translate(6px, -15px);
  }
}

.water-drop-small {
  animation: 0.7s water-jump-small infinite alternate linear;
}

/* animation */

/* footer */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid-item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}
